In [1]:
a = [1,3,5,7,9,11]

In [2]:
b = []

In [3]:
b.append(10)

In [4]:
b.append(400)

In [5]:
print(b)

[10, 400]

In [6]:
c= []

In [8]:
for x in a:
    c.append(x*3)
    print(x)
print(c)

1
3
5
7
9
11
[1, 3, 5, 7, 9, 11, 3, 9, 15, 21, 27, 33]

In [9]:
d = [x*2 for x in a]
print(d)

[2, 6, 10, 14, 18, 22]

In [3]:
e =[]
for i in range(1,7):
    e.append(i**2)
    print(e[i-1])
       
print(e)

1
4
9
16
25
36
[1, 4, 9, 16, 25, 36]

In [4]:
f = [i**2 for i in range(1,7)]
print(f)

[1, 4, 9, 16, 25, 36]

In [6]:
#[36,25,16,9,4,1]

g = [x//2 for x in range(6,0)]
print(g)

[]

In [11]:
h = 6
j = []
for i in range(0,6):
    j.append((h-i)**2)
    print(j[i-1])
    
print(j)

36
36
25
16
9
4
[36, 25, 16, 9, 4, 1]

In [12]:
k = [(h-i)**2 for i in range(0,6)]

In [13]:
print(k)

[36, 25, 16, 9, 4, 1]

In [14]:
for x in range(6,0,-1):
    print(x)

6
5
4
3
2
1

In [18]:
l =[]
for x in range(6,0,-1):
    l.append(x**2)
print(l)

[36, 25, 16, 9, 4, 1]

In [22]:
l2 = [(x**2) for x in range(6,0,-1)]
print(l2)

[36, 25, 16, 9, 4, 1]