In [1]:
a = ["banana","apple","microsoft","apple,microsoft"]
for element in a:
    print(element)
    print(element)

banana
banana
apple
apple
microsoft
microsoft
apple,microsoft
apple,microsoft

In [2]:
b=[20,10,5]
for element in b:
    print(element)

20
10
5

In [3]:
for e in a:
    print(e)

banana
apple
microsoft
apple,microsoft

In [4]:
total=0
for e in b:
    total=total+e
print(total)

35

In [5]:
range(1,5) #include 1 to 5 not 5
c = list(range(1,5))
print(c)

[1, 2, 3, 4]

In [6]:
for i in c:
    print(i)

1
2
3
4

In [7]:
for i in range(1,5):
    print(i)

1
2
3
4

In [8]:
total2=0
for i in range(1,5):
    total2 +=i
    print(total2)

1
3
6
10

In [10]:
print(list(range(1,8)))

[1, 2, 3, 4, 5, 6, 7]

In [11]:
print(1 % 3)

1

In [12]:
print(6 % 2)

0

In [14]:
total3=0
for i in range(1,8):
    if i % 3 == 0:
        total3 += i
        print(total3)   
print(total3)

3
9
9

In [15]:
print(list(range(1,100)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [18]:
total35 = 0
mult35 = 1
for i in list(range(1,100)):
    if(i % 3) == 0:
        if(i % 5) ==0:
            total35 += i
            mult35 *= i
            print("i",i)
            print("total35",total35)
            print("mult35",mult35)

print("results")
print("total35",total35)
print("mult35",mult35)

i 15
total35 15
mult35 15
i 30
total35 45
mult35 450
i 45
total35 90
mult35 20250
i 60
total35 150
mult35 1215000
i 75
total35 225
mult35 91125000
i 90
total35 315
mult35 8201250000
results
total35 315
mult35 8201250000