In [1]:
a = set()
print(a)

set()

In [2]:
a.add(1)
print(a)

{1}

In [3]:
a.add(2)
print(a)

{1, 2}

In [4]:
a.add(2)
print(a)

{1, 2}

In [5]:
for x in a:
    print(x)

1
2

In [6]:
given_list1 = [1,1,1,2,2,3,3,4,4,4,4,5]

b = set()

for i in given_list1:
    b.add(i)
    print(i)
    
print(b)

1
1
1
2
2
3
3
4
4
4
4
5
{1, 2, 3, 4, 5}

In [7]:
new_list1 = list()

for i in b:
    new_list1.append(i)
    print(i)
    
print(new_list1)

1
2
3
4
5
[1, 2, 3, 4, 5]

In [9]:
c = set()
c.add(25)
c.add(78)
c.add('efe')
c.add(1.58)

print(c)

{'efe', 25, 1.58, 78}

In [13]:
given_list2 = [2,2,3,4,2,3,4,1,8,8]
#total of unique elements in list

new_set1 =set()

total = 0
for i in given_list2:
    new_set1.add(i)
for i in new_set1:   
    total += i
    print("i : ",i)
    print("total : ", total)
    
print(total)

i :  1
total :  1
i :  2
total :  3
i :  3
total :  6
i :  4
total :  10
i :  8
total :  18
18